<section id="point-map">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
				<img src="assets/img/Mapa.png" class="img-responsive" alt="">
			</div>
			<div class="col-md-5">
				<h1>Puntos de servicio</h1>
				<p>
					Desde la fundación de Easy Wash en el año 2014 hemos tenido un crecimiento <br>
					exponencial; gracias al modelo de negocio exitoso con el que contamos. <br><br>

					<span class="important">En México tenemos ya franquicias en operación y próximas <br>
						aperturas en los Estados Unidos de América. 
					</span><br><br>

					Estas son las ciudades donde se encuentra la franquicia. <br><br>

					• México Aguascalientes, Ags. Guadalajara, Jal. Monterrey, N.L. <br>
					Puebla, Pue. Puerto Vallarta, Jal. <br>
					• Estados Unidos Texas, Los Angeles, California. <br>
				</p>
			</div>
		</div>
	</div>
</section>

<section id="banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-md-offset-1 img-holder">
				<img src="assets/img/Frase.png" class="img-responsive" alt="">
			</div>
			<div class="col-md-6 col-md-offset-6">
				<h1>
					Tómate tu tiempo
				</h1>
				<p>Para soñar, descubrir, disfrutar, <br>
					invitar, reír saborear, imaginar <br>
					sentir, vivir... <br>
				</p>
			</div>
		</div>
	</div>
</section>

<section id="point-contact" ng-controller="contactFormCtrl">
	<div contact-form></div>

	<div my-directory></div>
</section>

