<section id="franchise-banner">
	<div class="container-fluid">
		<div class="row" align="left">
			<div class="col-md-4 col-md-offset-8">
				<h3>{{"views.franchise.franchise-banner.title" | translate}}</h3>
				<p>
					{{"views.franchise.franchise-banner.text" | translate}}
				</p>
			</div>
		</div>
	</div>
</section>

<section id="franchise">
	<div class="container-fluid">
		<div class="row" align="center">
			<div class="row-eq-height">
				<div class="col-md-4 text-container">
					<p>
						{{"views.franchise.franchise.p1" | translate}}
					</p>
				</div>
				<div class="col-md-4 text-container">
					<p>
						{{"views.franchise.franchise.p2" | translate}}
					</p>
				</div>
				<div class="col-md-4 text-container">
					<p>
						{{"views.franchise.franchise.p3" | translate}}
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="franchise-dots">
	<div class="container-fluid">
		<div class="row">
			
		</div>
	</div>
</section>