<section id="franchise-banner">
	<div class="container-fluid">
		<div class="row" align="left">
			<div class="col-md-4 col-md-offset-8">
				<h3>¿Porqué invertir en una franquicia?</h3>
				<p>
					La industria de las franquicias ha crecido cuatro veces más que la economía nacional, de acuerdo a datos de la Asociación Mexicana de Franquicias (AMF).

				</p>
			</div>
		</div>
	</div>
</section>

<section id="franchise">
	<div class="container-fluid">
		<div class="row" align="center">
			<div class="row-eq-height">
				<div class="col-md-4 text-container">
					<p>
						Las posibilidades de éxito la ubican en un 95 %, en 
						comparación al 83 % de las incubadoras guiadas y el 23% de una empresa que arranca de forma independiente, de acuerdo con la Secretaría de Economía (SE).

					</p>
				</div>
				<div class="col-md-4 text-container">
					<p>
						El 90% de las franquicias sobrevive después de cinco años de operación, mientras que el 60% de los negocios tradicionales fracasan a los dos años de haber abierto sus puertas al público.

					</p>
				</div>
				<div class="col-md-4 text-container">
					<p>	
						El 90% de las franquicias sobrevive después de cinco años de operación, mientras que el 60% de los negocios tradicionales fracasan a los dos años de haber abierto sus puertas al público.

					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="franchise-dots">
	<div class="container-fluid">
		<div class="row">
			
		</div>
	</div>
</section>