$fa-font-path: "../bower_components/components-font-awesome/fonts";
$orange-color: #F05A28;

@font-face {
	font-family: exo-2-bold;
	src: url(../fonts/Exo2-Bold.otf);
}

@font-face {
	font-family: exo-2;
	src: url(../fonts/Exo2-Regular.otf)
}

@font-face {
	font-family: exo-2-light;
	src: url(../fonts/Exo2-Light.otf)
}

@font-face {
	font-family: 'exo-2.0-regular';
	src: url(../fonts/exo-2-0-regular.otf)
}

@font-face {
	font-family: 'exo-2.0-extra-bold-italic';
	src: url(../fonts/exo-2-0.extra-bold-italic.otf)
}

@import '../bower_components/components-font-awesome/scss/font-awesome.scss';
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'home';
@import 'philosophy';
@import 'services';
@import 'points';
@import 'company';
@import 'franchise';