<section id="company-banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<img src="" alt="" class="img-responsive">
				<h2>“Escoje a quien dedicas el tiempo
					porque nunca lo recuperarás.”
				</h2>
			</div>
		</div>
	</div>
</section>

<section id="company-us">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>¿Quíenes Somos?</h1>
				<p>
					<img src="" alt="" class="img-responsive">
					es una empresa líder socialmente <br>
					responsable dedicada al eco-lavado automotríz <br>
					a domicilio. <br>
				</p>
			</div>
		</div>
	</div>
</section>

<section id="company">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Empresa</h1>
				<p>
					Easy Wash es una empresa líder socialmente responsable dedicada al eco-lavado automotriz a domicilio. <br>

					Nuestra marca está registrada ante el IMPI y en trámite de afiliación a la Asociación Mexicana de Franquicias. <br>

					Es un concepto innovador y rentable que ofrece el servicio de auto-lavado en el sitio que te localices de manera 
					profesional con productos que cuidan el medio ambiente. <br>

					En Easy Wash te brindamos un servicio de calidad creando una experiencia única en la optimización de tu tiempo. <br>
				</p>
			</div>
			<div class="col-md-6 col-md-offset-6">
				<img src="" alt="" class="img-responsive">
			</div>
		</div>
	</div>
</section>

<section id="company-vmv">
	<div class="container">
		<div class="row">
			<h3>Misión</h3>
			<p>
				Transformamos el servicio de lavado de autos a domicilio, brindando un trato dinámico único, 
				capaz de cambiar la forma de pensar del cliente y creando un impacto social y ecológico.
			</p>
			<br>
			<h3>Visión</h3>
			<p>
				“Somos una empresa de servicios de lavado de autos a domicilio brindando un trato único y creando 
				un impacto social ecológico”
			</p>

			<br>
			<h3>Valores</h3>
			<p>
				<ul>
					<li>HONESTIDAD</li>
					<li>PUNTUALIDAD</li>
					<li>AMABILIDAD</li>
					<li>DISPONIBILIDAD</li>
					<li>TRABAJO EN EQUIPO</li>
				</ul>
			</p>
		</div>
	</div>
</section>