<section id="easy-fast">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-6 img-holder" >
				<img src="assets/img/mustang.png" alt="" class="img-responsive">

			</div>
			<div class="col-md-6 col-md-offset-6" align="center">
				<h1>Easy Fast</h1>
				<span class="sizes">chico/mediano/grande</span><br>
				<div class="washing-holder">
					<span class="washing-num">4 lavadas</span>
					<span class="washing-num odd">8 lavadas</span>
					<span class="washing-num">12 lavadas</span>
				</div>
				<h4>EXTERIOR</h4>
				<p>Lavado de carrocería, Abrillantador y <br>
					Protector de Plásticos
				</p>
			</div>
			<img src="assets/img/icon1.svg" alt="" class="img-responsive pull-right icon">
		</div>
	</div>
</section>

<section id="easy-cool">
	<div class="container-fluid">
		<div class="row">
			<div class="img-container">
				<img src="assets/img/icon2.svg" alt="" class="img-responsive pull-left icon">

			</div>

			<div class="col-md-6" align="center">
				<h1>Easy Cool</h1>
				<span class="sizes">chico/mediano/grande</span><br>
				<div class="washing-holder">
					<span class="washing-num">4 lavadas</span>
					<span class="washing-num odd">8 lavadas</span>
					<span class="washing-num">12 lavadas</span>
				</div>
				<h4>INTERIOR</h4>
				<p>Lavado de carrocería, Abrillantador,<br>
					Protector de Plásticos y Aspirado
				</p>
			</div>
			<div class="col-md-5 col-md-offset-6 img-holder">
				<img src="assets/img/chevrolet-camaro-ss-asientos-exclusivos-cuero.png" alt="" class="img-responsive">
			</div>
		</div>
		<div class="clear-both"></div>
	</div>
</section>

<section id="easy-full">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 img-holder">
				<img src="assets/img/eng.png" alt="" class="img-responsive">
			</div>
			<div class="col-md-6 col-md-offset-6" align="center">
				<h1>Easy Full</h1>
				<span class="sizes">chico/mediano/grande</span><br>
				<div class="washing-holder">
					<span class="washing-num">4 lavadas</span>
					<span class="washing-num odd">8 lavadas</span>
					<span class="washing-num">12 lavadas</span>
				</div>
				<h4>MOTOR</h4>
				<p>Lavado de carrocería, Abrillantador, <br>
					Protector de Plásticos, Aspirado <br>
					más Lavado de motor y vestiduras
				</p>
			</div>
			<img src="assets/img/icon3.svg" alt="" class="img-responsive pull-right icon">
		</div>
	</div>
</section>