<section id="easy-fast">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<img src="assets/img/mustang.png" alt="" class="img-responsive">
			</div>
			<div class="col-md-6" align="center">
				<h2>Easy Fast</h2>
				<span>chico/mediano/grande</span><br>
				<span class="washing-num">4 lavadas</span>
				<span class="washing-num">8 lavadas</span>
				<span class="washing-num">12 lavadas</span>
				<h4>EXTERIOR</h4>
				<p>Lavado de carrocería, Abrillantador y 
					Protector de Plásticos
				</p>
			</div>
		</div>
	</div>
</section>

<section id="easy-cool">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6" align="center">
				<h2>Easy Fast</h2>
				<span>chico/mediano/grande</span><br>
				<span class="washing-num">4 lavadas</span>
				<span class="washing-num">8 lavadas</span>
				<span class="washing-num">12 lavadas</span>
				<h4>INTERIOR</h4>
				<p>Lavado de carrocería, Abrillantador,
					Protector de Plásticos y Aspirado
				</p>
			</div>
			<div class="col-md-6">
				<img src="assets/img/chevrolet-camaro-ss-asientos-exclusivos-cuero.png" alt="" class="img-responsive">
			</div>
		</div>
	</div>
</section>

<section id="easy-full">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<img src="assets/img/eng.png" alt="" class="img-responsive">
			</div>
			<div class="col-md-6" align="center">
				<h2>Easy Fast</h2>
				<span>chico/mediano/grande</span><br>
				<span class="washing-num">4 lavadas</span>
				<span class="washing-num">8 lavadas</span>
				<span class="washing-num">12 lavadas</span>
				<h4>MOTOR</h4>
				<p>Lavado de carrocería, Abrillantador, 
					Protector de Plásticos, Aspirado
					más Lavado de motor y vestiduras
				</p>
			</div>
		</div>
	</div>
</section>