#franchise-banner {
	
	background-image: url("../img/Img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 50%;

	color: white;
	font-family: 'exo-2.0-regular';

	h3 {
		font-family: 'exo-2.0-extra-bold-italic';

	}

	.row {
		padding: 10% 0;
		padding-right: 35px;
	}
}

#franchise {
	font-family: 'exo-2.0-regular';
	.row-eq-height {
		overflow: hidden; 
	}

	.text-container {
		color: white;
		margin-bottom: -99999px;
		padding-bottom: 99999px;
		&:nth-child(even) {background: #F05A28;}
		&:nth-child(odd) {background: #F47C28;}

		p {
			padding: 27px 0;
		}
	}
}

#youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#franchise-dots {
	.row {
		height: 100px;
		background-image: url("../img/Puntos copy.jpg");
		background-size: 35px;
		background-repeat: repeat;
	}
}