$fa-font-path: "../bower_components/components-font-awesome/fonts";
$orange-color: #F05A28;

@font-face {
	font-family: exo-2-bold;
	src: url(../fonts/Exo2-Bold.otf);
}

@font-face {
	font-family: exo-2;
	src: url(../fonts/Exo2-Regular.otf)
}

@font-face {
	font-family: exo-2-light;
	src: url(../fonts/Exo2-Light.otf)
}

@font-face {
	font-family: 'exo-2.0-regular';
	src: url(../fonts/exo-2-0-regular.otf)
}

@font-face {
	font-family: 'exo-2.0-extra-bold-italic';
	src: url(../fonts/exo-2-0.extra-bold-italic.otf)
}


@import '../bower_components/components-font-awesome/scss/font-awesome.scss';
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'home';
@import 'philosophy';
@import 'services';
@import 'points';
@import 'company';
@import 'franchise';
@import 'contact';

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	background: transparent;
	word-break: keep-all; /*this stops the word breaking*/
	color: white;
	border: none;
	font-family: exo-2;
	overflow: hidden;
}

select {
	color: rgb(83, 81, 81);
	line-height: 1 !important;

}

@media (min-width: $screen-sm) and (max-width: $screen-md) {

	#banner {
		.row {
			padding: 25px 0;
		}
	}

	#directory {
		[class*="col-"] {
			margin-top: 20px;
		}
	}

	#philosophy .img-holder:nth-of-type(1) {
		background-position-y: 0%;
	}

	#easy-fast .img-holder > img {
		width: 100%;
	}

	.washing-holder {
		[class*="col-"] {
			margin-top: 12px;
			// text-align: center !important;
		}
	}

	#home-services {

		.row-eq-height {
			max-height: 400px;

			.holder {
				margin-top: 85px;
			}
		}

		.holder1 {
			background-size: 300%;
			background-position: 15% 0;
		}

		.holder2 {
			background-size: 180%;
			background-position: 15% -300px;
		}

		.holder3 {
			background-repeat: no-repeat;
			background-size: 250%;
			background-position: 29% 0px;

		}
	}

}

@media (min-width: 0) and (max-width: $screen-sm) {
	#philosophy .img-holder:nth-of-type(1) {
		background-position-y: 30%;
	}

	.message-container {
		position: relative !important;
	}

	#banner #helper, #easy-full .helper, #easy-fast .helper, #home-time .helper {
		min-height: 100%;
		background: black;
		position: absolute;
		z-index: 11;
		opacity: 0.7;

	}

	.washing-holder {
		[class*="col-"] {
			margin-top: 12px;
			text-align: center !important;
		}


	}

	#easy-fast .img-holder{
		position: absolute;
		bottom: 0;
	}

	#home-services .holder1, #home-services .holder2, #home-services .holder3 {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	#easy-fast .img-holder > img {
		width: 100%;
	}

	#directory {
		text-align: center;

		.col-xs-offset-2 {
			margin-top: 25px;
		}

		h4, span {
			font-size: 10pt;
		}
	}
}