<section id="philosophy">
	<div class="container-fluid">
		<div class="row text" align="center">

			<div class="col-md-6 col-md-offset-3">
				<h4>We are a company dedicated to add value to your time. </h4>
				<p>
					<i>We specialize on the home car wash service creating a one-of-a-kind service. <br><br>
						
						With our work philosophy of caring and attending the slightest detail, 
						we have managed to be different as a professional company <br>
						<span class="important">committed to society and the environment.</span> <br><br>
						
						We create a friendly relationship with our business partners and clients since all of them are important pillars of the growth of Easy Wash.
					</i>

				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 img-holder">
				<p>
					.
				</p>
			</div>
			<div class="col-md-4 img-holder" align="center">
				<p>
					Our best business is your complete satisfaction
				</p>
			</div>
			<div class="col-md-4 img-holder">
				<p>.</p>
			</div>
		</div>
		<div class="row">
			<img src="assets/img/Fon1.png" alt="" class="img-responsive">
		</div>
	</div>
</section>